{% extends "portfolioItem.html" %}
{% block content%}	
<section id="portfolio" class="portfolio section-bg">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Low Level IO</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Low Level IO</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/io-details-1.avif" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/io-details-2.avif" alt="">
                </div>

<!--  need to retake video
                <div class="swiper-slide">
                  <video width="500" height="500" controls>

                    <source src="static/assets/img/portfolio/io-details-3.mov" type="video/mp4">           
                  </video>
                </div>
-->
                
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Language</strong>: x86 Assembly</li>
                <li><strong>Course</strong>: Computer Architecture & Assembly Language - CS 271</li>
                <li><strong>Project date</strong>: June, 2024</li>
                <li><div class="d-grid gap-2 col-10 mx-auto">
                  <a href="https://github.com/derekgreene11/derekrgreene.com/blob/7e530c5481929febbc4dc16cb3bdef4ddb634d37/LowLevelIO.asm" target="_blank" <button class="btn btn-primary" type="button"><i class="bi bi-github"></i> View on GitHub</button></a>
                  <a href="./static/sources/lowlevelio.zip" <button class="btn btn-primary" type="button"><i class="bi bi-code-slash"></i> Download Code</button></a>
                </div></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p>
                Program displays title and programmers name, followed by an introduction explaining the
                program. Program then prompts user to enter 10 signed decimal integers in range of 32 bits/number.
                Input is read in as a string and converted from ASCII to decimal. Each input is then checked for if it is valid.
                If it is not valid, the program will display an error message and prompt the user to re-enter the number.
                If the number is valid, it is stored in an array. The program then displays the numbers entered, followed by the sum
                and average for the values inputed. Results are converted to ASCII and then displayed to the user along with a list
                of the numbers entered. The program then displays a goodbye message and exits.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </section>
  </main><!-- End #main -->
  {% endblock %}	