<!-- Authors: Derek Greene & Nathan Schuler
     Date: 7/2024
     Course: CS340 - Introduction to Databases
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Engineering Services Database{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
</head>
<body>

    <!-- Header with navigation links -->
    <header>
        <div class="container">
            <div class="nav">
                <a href="https://esgdb.derekrgreene.com" class="button">Home</a>
                <a href="{{ url_for('designs') }}" class="button">Designs</a>
                <a href="{{ url_for('requirements') }}" class="button">Requirements</a>
                <a href="{{ url_for('projects') }}" class="button">Projects</a>
                <a href="{{ url_for('users') }}" class="button">Users</a>
            </div>
        </div>
    </header>

    <!-- Main content area -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>

<!-- Footer with copyright -->
<footer>
    <p>&copy; 2024 Derek Greene & Nathan Schuler. All rights reserved.</p>
</footer>
</html>
